<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>KodBook Sign up</title>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<h1>KodBook</h1>
		<h3>Update your profile!</h3>
		<hr>

<form action="/updateProfile" method="post" enctype="multipart/form-data">

<label>DOB:</label>
<input type="date" name="dob"><br><br>
<label> gender:</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">other<br><br>
<label>CITY:</label>
<input type="text" name="city"><br><br>
<label>BIO:</label>
<input type="text" name="bio"><br><br>
<label>COLLEGE:</label>
<input type="text" name="college"><br><br>
<label>LINKEDIN:</label>
<input type="text" name="linkedIn"><br><br>
<label>GITHUB:</label>
<input type="text" name="gitHub"><br><br>
<input type="file" name="profilePic" accept="image/*"><br>


<input type="submit" value="Update profile">
</form>
</body>
</html>