<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Profile</title>
 <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h2>post Details</h2>
<div class="profile-details">
<span th:each="post:${allPosts}">
<p><strong>Photo:</strong></p>
<img th:if="${post.photoBase64}"
 th:src=" 'data:image/jpeg;base64,'+ ${post.photoBase64}"
 alt="Profile Photo" />
 <p><strong>Caption:</strong> <span th:text="${post.caption}"></span></p>
 <p><strong>Likes:</strong> <span th:text="${post.likes}"></span></p>
 <form action="/likePost">
 <input name="id" th:value="${post.id}">
 <input type="submit" value="LIKE POST">
 
 </form>
 
 
 <form action="/addComment" method="post">
 <textarea name="comments"></textarea>
 <input type="submit">
 
 </form>

 
 

 </span>
   </div>
 

</body>
</html>